.bg-body {
  background-color: #e8eaf6;
  height: 100vh;
}

#container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.form {
  background: white;
}

.btn-success {
  color: #fff;
  background-color: #12005e;
  border-color: #12005e;
}

.form-control {
  font-size: 10px !important;
}
